/* Import fonts */
@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: Rowdies;
  src: url("../assets/fonts/Rowdies/Rowdies-Regular.ttf");
}

/* Varibel */
:root {
  --color-orange: #d2601a;
  --color-green: #1d3c45;
  --color-gray: #6b7280;
  --color-light: #fff7ed;
}

/* Scrollbar */
::-webkit-scrollbar {
  background-color: var(--color-orange);
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-green);
  background-clip: content-box;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

/* Global Styling */
* {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-light);
  color: var(--color-green);
}

a {
  text-decoration: none;
}

.section-title {
  text-align: center;
  margin: 1rem 0;
  position: relative;
}

.section-title::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background: var(--color-orange);
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.section-title::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 5px;
  background: var(--color-green);
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 34%);
  -webkit-transform: translate(-50%, 34%);
  -moz-transform: translate(-50%, 34%);
  -ms-transform: translate(-50%, 34%);
  -o-transform: translate(-50%, 34%);
}

.container {
  padding: 5rem 2rem;
}

.color-orange,
.color-orange-link {
  color: var(--color-orange);
  transition: color .3s ease-in-out;
  -webkit-transition: color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out;
  -ms-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
}

.color-orange-link:hover {
  color: var(--color-green);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 20px 0 20px 0;
  -webkit-border-radius: 20px 0 20px 0;
  -moz-border-radius: 20px 0 20px 0;
  -ms-border-radius: 20px 0 20px 0;
  -o-border-radius: 20px 0 20px 0;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  color: var(--color-light);
}

.btn #icon {
  margin: 0 5px;
  transition: transform 0.1s ease-in;
  -webkit-transition: transform 0.1s ease-in;
  -moz-transition: transform 0.1s ease-in;
  -ms-transition: transform 0.1s ease-in;
  -o-transition: transform 0.1s ease-in;
}

.btn:hover #icon {
  transform: translateX(5px);
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
}

.btn:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

.btn-green,
.btn-orange:hover {
  background-color: var(--color-green);
}

.btn-orange,
.btn-green:hover {
  background-color: var(--color-orange);
}

/* navbar */
header {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  z-index: 100;
}

.nav-colored {
  background: var(--color-light);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.34);
  transition: background 0.3s linear;
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -ms-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
}

.nav-transparent {
  background: transparent !important;
}

.nav-transparent .logo h1 a {
  color: var(--color-green);
}

.nav-transparent .logo h1 small {
  color: var(--color-orange);
}

header .navbar {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.logo h1 a {
  font-family: Rowdies, cursive;
  color: var(--color-green);
  font-size: 25px;
  transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
}

.logo h1 small {
  color: var(--color-orange);
  opacity: 0.8;
}

.nav-links .nav-items {
  display: flex;
  justify-content: center;
}

.nav-links .nav-items .links {
  list-style: none;
  margin-right: 10px;
}

.nav-links .nav-items .links a {
  color: var(--color-green);
  font-weight: 600;
  font-size: 15px;
  transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
}

.nav-links .nav-items .links a:hover {
  color: var(--color-orange);
}

/* Home section styling */
#home {
  height: 100vh;
  width: 100%;
}

#home .bg-img {
  height: inherit;
  background-image: url("../assets/img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#home .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  color: var(--color-light);
  background: linear-gradient(to bottom, #fff7e150, transparent);
  padding: 0 30px;
}

#home .text p {
  font-size: 20px;
  text-align: center;
}

/* About me styling */
#about-me {
  height: auto;
}

.biodata {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.biodata .img {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.biodata .img img {
  width: 200px;
  border: 5px solid var(--color-green);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.biodata .img h1 {
  text-transform: uppercase;
  margin-top: 10px;
}

.biodata .img p {
  color: var(--color-gray);
}

.biodata .description {
  margin: 1rem 0;
}

.biodata .description p {
  text-align: justify;
  margin: 1rem 0;
}

/* Responsive landscape tablet and large phone*/
@media screen and (min-width: 600px) {
  header .navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
  }

  .biodata .left h1 .me,
  .logo h1 a {
    font-size: 30px;
  }

  #home .text p,
  .nav-links .nav-items .links a {
    font-size: 20px;
  }

  #home .text .btn {
    font-size: 15px;
  }

  .container {
    padding: 4rem;
  }
}

/* Responsive dekstop */
@media screen and (min-width: 768px) {
  .biodata .left h1 span,
  .logo h1 a {
    font-size: 35px;
  }

  #home .text p,
  .nav-links .nav-items .links a {
    font-size: 25px;
  }

  .section-title {
    font-size: 30px;
  }

  #home .text .btn {
    font-size: 20px;
  }

  .section-title::before {
    width: 70px;
    height: 3px;
  }

  .section-title::after {
    width: 15px;
    height: 7px;
  }

  .biodata {
    flex-wrap: nowrap;
  }

  .biodata .img {
    margin: 0 2rem;
  }
}
